.venv/
__pycache__/
*.pyc
.env
.env.*
*.db
*.duckdb
target/
dbt_packages/
logs/
.DS_Store
.idea/
.vscode/
*.parquet
*.joblib
artifacts/
data/raw/*.csv
data/online/
data/features/
data/kafka_stream/
data/kinesis_stream/
.pytest_cache/
!data/raw/.gitkeep
